flows.json
[
    {
        "id": "48d862e7265b7c1a",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ae4988fe10c954b",
        "type": "inject",
        "z": "48d862e7265b7c1a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Texto de prueba ",
        "payloadType": "str",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "f4fecac6dfa44188"
            ]
        ]
    },
    {
        "id": "75b1f8d6ea9fdce9",
        "type": "inject",
        "z": "48d862e7265b7c1a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "d5b40df05c26f288",
                "91a18b1587760ca0"
            ]
        ]
    },
    {
        "id": "4b71f15fdc61bbf9",
        "type": "inject",
        "z": "48d862e7265b7c1a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "d5b40df05c26f288",
                "91a18b1587760ca0"
            ]
        ]
    },
    {
        "id": "f3dae2e8972194b7",
        "type": "inject",
        "z": "48d862e7265b7c1a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "d5b40df05c26f288",
                "91a18b1587760ca0"
            ]
        ]
    },
    {
        "id": "f4fecac6dfa44188",
        "type": "ui_text",
        "z": "48d862e7265b7c1a",
        "group": "692f1846c5cdfc69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto de prueba_lbl",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "d5b40df05c26f288",
        "type": "ui_gauge",
        "z": "48d862e7265b7c1a",
        "name": "",
        "group": "7d0f8e7d7d397f5f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "91a18b1587760ca0",
        "type": "ui_chart",
        "z": "48d862e7265b7c1a",
        "name": "",
        "group": "7d0f8e7d7d397f5f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "692f1846c5cdfc69",
        "type": "ui_group",
        "name": "Texto_Group 1",
        "tab": "adfe30f4ebdf8d96",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d0f8e7d7d397f5f",
        "type": "ui_group",
        "name": "Graficos_Group 2",
        "tab": "adfe30f4ebdf8d96",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "adfe30f4ebdf8d96",
        "type": "ui_tab",
        "name": "Flow3 - tab",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]